@media (max-width: 599px) {
  .modal-dialogo {
    width: 70vw;
    height: 65vh;
    right: 10px;
    bottom: 10px;
  }
  .container-dialogo {
    height: 90%;
  }
  .dialogo {
    max-height: 53vh;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
    .modal-dialogo {
        width: 50vw;
        height: 65vh;
        right: 30px;
        bottom: 30px;
      }
      .container-dialogo {
        height: 92%;
      }
      .dialogo {
        max-height: 55vh;
      }
}

@media (min-width: 1000px) {
    .modal-dialogo {
        width: 20vw;
        height: 65vh;
        right: 30px;
        bottom: 30px;
      }
      .container-dialogo {
        height: 87.5%;
      }
      .dialogo {
        max-height: 49vh;
      }
}

.Dialogo-emergente {
  position: fixed;
  right: 18px;
  bottom: 18px;
  cursor: pointer;
}

.cerrar-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.modal-dialogo {
  position: fixed;
  background-color: #fbfbfb;
  transition: all 0.2s;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  z-index: 21;
}

.container-dialogo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  /* height: 87.5%; */
  width: 95%;
  margin-top: 10px;
}

.dialogo {
  /* max-height: 49vh; */
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

.Usuario > span {
  border-radius: 100%;
  padding: 1px 7px 3px 7px;
  background-color: #f4b22d;
}

.Usuario {
  text-align: left;
  font-weight: bold;
}

.chatGpt {
  display: flex;
  text-align: left;
  align-items: center;
  margin-left: -10px;
  font-weight: bold;
  margin-bottom: -10px;
}

.chatGpt > img {
  margin-right: 4px;
  margin-left: 10px;
}

.texto-usuario {
  margin-bottom: 5px;
  margin-left: 30px;
  line-height: 1.3;
}

.texto-usuario-no-registrado {
  color: red;
  line-height: 1.2;
}

.container-entrada-usuario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.entrada-usuario {
  resize: none;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.cargando {
  margin-top: 15px;
  margin-left: 30px;
  color: #f4b22d;
}

.avion-enviar {
  background-color: transparent;
  border: 0px;
  width: 25px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  cursor: pointer;
}

.avion-enviar:hover {
  scale: 1.15;
}
