@media (max-width: 599px) {
    .log-out-detalles{
        top: 7vh;
        right: 9vw;
        width: 35vw;
    }
    .log-out-historial{
        top: 17.5vh;
        height: 65vh;
        right: 15vw;
        width: 70vw;
    }
}
@media (min-width: 600px) and (max-width: 1050px) {
    .log-out-detalles{
        top: 6vh;
        right: 8vw;
        width: 25vw;
    }
    .log-out-historial{
        top: 17.5vh;
        height: 65vh;
        right: 27.5vw;
        width: 45vw;
    }
}
@media (min-width: 1051px) {
    .log-out-detalles{
        top: 7vh;
        right: 5vw;
        width: 15vw;
    }
    .log-out-historial{
        top: 12.5vh;
        height: 75vh;
        right: 30vw;
        width: 35vw;
    }
}

.containerHistorial {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.78);
}

.log-out-detalles {
    position: absolute;
    height: 26vh;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(59, 102, 98, 0.835);
    z-index: 999;
    border-radius: 5px 0 5px 5px;
    font-size: small;
    padding: 7px;
    line-height: 15px;
}

.log-out-detalles > h2 {
    padding-top: 15px;
}

.log-out-detalles > div {
    text-align: left;
    margin-top: 10px;
    
}

.tituloApartado {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
    color: rgb(103, 103, 103);
    border-bottom: 1px solid rgb(187, 187, 187);
}

.volver {
    position: absolute;
    left: 5px;
    top: 5px;
}

.log-out-historial {
    position: absolute;
    background-color: rgb(248, 249, 249);
    border: 1px solid rgba(59, 102, 98, 0.835);
    z-index: 999;
    border-radius: 5px;
    font-size: small;
    padding: 7px;
    line-height: 15px;
}

.log-out-historial > h2 {
    font-size: 1.7rem;
    padding: 15px 0 25px 0;
    color: rgb(49, 49, 49);
    border-bottom: 1px solid rgb(192, 192, 192);
}

.pedidos {
    margin: 20px 30px 20px 30px;
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.containerProducto {
    padding: 7px 0 7px 0;
}

.containerProducto > p {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0 25px 0 20px;
}

.Pedido {
    border: 1px solid rgb(165, 165, 165);
}

.containerPedido {
    padding: 15px 0 15px 0;
}

.containerPedido > h3 {
    margin-bottom: 10px;
}

