@media (max-width: 599px) {
  .Carrusels {
    height: 23vh;
    width: 100vw;
  }
  .Carrusel > img {
    width: 100vw;
    height: 23vh;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .Carrusels {
    height: 28vh;
    width: 100vw;
  }
  .Carrusel > img {
    width: 100vw;
    height: 28vh;
  }
}

@media (min-width: 1000px) {
  .Carrusels {
    height: 65vh;
    width: 80vw;
  }
  .Carrusel > img {
    width: 80vw;
    height: 65vh;
    border-radius: 15px;
  }
}

label {
  cursor: pointer;
}

.publicidad {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Carrusels {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.Carrusel {
  overflow-y: hidden;
  transition: all 0.5s ease;
  position: absolute;
}

/* Estado 1 */
#Slider1-info:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
  transform: translate(0%, 0);
}
#Slider1-info:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
  transform: translate(100%, 0);
}
#Slider1-info:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
  transform: translate(200%, 0);
}
/* Estado 2 */
#Slider2-info:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
  transform: translate(-100%, 0);
}
#Slider2-info:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
  transform: translate(0%, 0);
}
#Slider2-info:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
  transform: translate(100%, 0);
}
/* Estado 3 */
#Slider3-info:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
  transform: translate(-200%, 0);
}
#Slider3-info:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
  transform: translate(-100%, 0);
}
#Slider3-info:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
  transform: translate(0%, 0);
}

.Selectors {
  width: 70px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #e3d9d9;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}

#Slider1-info:checked ~ .Selectors .Selector:nth-of-type(1) {
  background-color: #999999;
}
#Slider2-info:checked ~ .Selectors .Selector:nth-of-type(2) {
  background-color: #999999;
}
#Slider3-info:checked ~ .Selectors .Selector:nth-of-type(3) {
  background-color: #999999;
}

#Slider1-info {
  display: none;
}
#Slider2-info {
  display: none;
}
#Slider3-info {
  display: none;
}
