@media (max-width: 599px) {
  .containerCarrito {
    top: 6vh;
    right: 0;
    width: 55vw;
  }
}
@media (min-width: 600px) and (max-width: 1050px) {
  .containerCarrito {
    top: 6vh;
    right: 0;
    width: 40vw;
  }
}
@media (min-width: 1051px) {
  .containerCarrito {
    top: 7vh;
    right: 0;
    width: 25vw;
  }
}

.containerForm {
  position: fixed;
  top: -10px;
  right: -40px;
  width: 103vw;
  height: 100vh;
  background-color: #1312122c;
}

.cerrar_carrito {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.carrito {
  padding-top: 7px;
  scale: 1.1;
}

.iconos :hover {
  scale: 1.2;
}

.containerCarrito {
  position: absolute;
  height: 85vh;
  background-color: white;
  border-radius: 10px 0 10px 10px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.325);
}

.titulo {
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid #e5e5e5;
  margin: 0 10px 0 10px;
  font-size: large;
}

.productos {
  width: 100%;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #c5c4c4;
}

.containerProductos {
  height: 58%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.productos > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.producto {
  max-width: 63%;
  margin-left: -10px;
}

.nombreProducto {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  font-weight: 500;
}

.fotoProducto {
  display: flex;
  height: 75%;
  width: 55px;
  margin-right: 20px;
}

.cantPrecioElim {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 0.7rem;
}

.containerCarrito > footer {
  font-weight: 500;
  padding: 10px 20px 10px 20px;
}

.containerCarrito > footer > div {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnComprar {
  margin-top: 25px;
  padding: 5px 40px 5px 40px;
  width: 100%;
  border-radius: 5px;
  font-weight: 550;
  font-size: 1.1rem;
  background-color: var(--main-color);
  border: 1px solid black;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
