@media (max-width: 599px) {
    .menu {
        width: 100%;
        z-index: 10;
    }
    .menu_header {
        height: 7vh;
        font-size: large;
        font-weight: 400;
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .menu {
        width: 70%;
        z-index: 10;
    }
    .menu_header {
        height: 5vh;
        font-size: large;
        font-weight: 400;
    }
}

@media (min-width: 1000px) {
    .menu {
        width: 30%;
        z-index: 10;
    }
    .menu_header {
        height: 7vh;
        font-size: x-large;
        font-weight: 400;
    }
}



* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
.containerMenu {
    height: 100%;
    width: 100%;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu {
    height: 50%;
    width: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}


.burger-bar {
    width: 25px;
    height: 0.15em;
    background-color: var(--main-color);
    border-radius: 0.5em;
}

.menu {
    height: 100vh;
    background-color: rgb(250, 248, 248);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0.5em 0em 1em 0 rgba(61, 57, 57, 0.513);
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    margin-left: 2px;
    /* transform: rotate(45deg) translate(0.3px, 4px); */
    /* ---- Sube para ajustarse al header del menu ----*/
     transform: rotate(45deg) translate(5px, 5px); 
    transition: ease-out 0.5s;
    background-color: #fff;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.001);
}

.burger-bar.clicked:nth-child(3){
    margin-left: -7.5px;
    /* transform: rotate(135deg) translate(-12px, 3px); */
    /* ---- Sube para ajustarse al header del menu ----*/
     transform: rotate(135deg) translate(-11.5px, -2px);  
    transition: ease-out 0.5s;
    background-color: #fff;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu_header {
    background-color: #1d1b1b;
    color: azure;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.menu_cuenta { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #1d1b1b;
    color: azure;
    margin: 8px 30px 8px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.menu_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 30px 20px 30px;
    gap: 1rem;
}

.menu_main > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 20px 5px;
    width: 100%;
    font-size: medium;
    cursor: pointer;
}

