@media (max-width: 599px) {
  .containerHome {
    margin-top: 15px;
  }
  .promocion {
    height: 12vh;
    width: 65vw;
  }
  .promo {
    height: 12vh;
    width: 35vw;
    border-radius: 10px;
  }
  .newsletter > footer > span {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1050px) {
  .containerHome {
    margin-top: 20px;
  }
  .promocion {
    height: 16vh;
    width: 65vw;
  }
  .promo {
    height: 16vh;
    width: 35vw;
    border-radius: 10px;
  }
  .newsletter > footer {
    width: 600px;
    margin-top: 20px;
  }
}

@media (min-width: 1051px) {
  .containerHome {
    margin-top: 40px;
  }
  .promocion {
    height: 35vh;
    width: 53vw;
  }
  .promo {
    height: 35vh;
    width: 27vw;
    border-radius: 10px;
  }
  .newsletter > footer {
    width: 650px;
  }
}

.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer {
  background-color: var(--main-color);
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  padding: 10px 0 20px 0;

}

.newsletter > footer {
  display: flex;
  font-weight: 500;
}

.newsletter > footer > span {
  margin-top: 10%;
  width: 80%;
  text-align: left;
}

.newsletter > footer > span > p {
  margin-bottom: 10px;
}

.newsletter > footer > div > h3 {
  font-size: 2rem;
}

.newsletter > footer > div > p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
  font-weight: 700;
}

.input {
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
  border: 2px solid black;
}

.btn-suscrib {
  margin-top: 5px;
  padding: 5px 13px 5px 13px;
  border-radius: 5px;
  border: 1px solid rgb(1, 1, 1);
  background-color: var(--main-color);
  color: #130f0a;
  border: 2px solid;
  font-weight: bold;
}

.contacto {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 25px 50px 20px 8vw;
  font-weight: 600;
}

.contacto > h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.563);
  margin-bottom: 20px;
}

.entrega {
  margin-bottom: 8px;
}

.empresas-reparto {
  display: flex;
  justify-content: left;
  align-items: center;
}

.empresas-reparto > img {
  margin-right: 20px;
}

.pago-seguro {
  display: flex;
  flex-direction: column;
}

.pago-seguro > span {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 15px;
  font-weight: 600;
  margin-bottom: 2px;
}

.pago-seguro > span > img {
  margin-right: 5px;
}

