@media (max-width: 599px) {
    .inputText {
        padding: 5px 5px 5px 12px;
        width: 35vw;
        right: 22vw;
        margin-top: 8px;
        margin-right: 6.5vw;
    }
    .cardDescription {
        font-size: small;
    }
    .iconos {
        height: 20px;
        width: 20px;
        z-index: 9;
    }
}


@media (min-width: 600px) and (max-width: 1050px) {
    .inputText {
        padding: 9px;
        width: 45vw;
        right: 20vw;
        margin-top: 15px;
        margin-right: 5vw;
    }
    .iconos {
        height: 30px;
        width: 30px;
        z-index: 9;
    }
}


@media (min-width: 1051px) {
    .inputText {
        padding: 9px;
        width: 40vw;
        display: flex;
        margin-right: 75vw;
        margin-top: 7px;
    }
    .iconos {
        height: 30px;
        width: 30px;
        z-index: 9;
    }
}


.container_cerrar_buscador{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 9px;
}

.inputText {
    border-radius: 33px;
    font-weight: 600;
    position: fixed;
}

.price { 
    display: flex;
    justify-content: right;
    color: rgb(109, 21, 21);
    font-weight: bold;
}

.removeCart {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 80%;
    border: 1px solid black;
    background-color: #7a1e1e;
}

.cartItem {
    margin: 5%;
    padding: 5%;
    border: 2px solid rgb(29, 27, 27);
    border-radius: 30px;
    background-color: #8370702d;
}

.leftMenu {
    position: relative;
    width: 50px;
    height: 50px;
}

.InputLeftMenu {
    display: none;
}

.BurguerOpen {
    width: 50px;
    height: 50px;
    scale: 0.25;
    stroke-width: 100%;
}

.BurguerClose {
    position: absolute;
    scale: 0.5;
}
/* --------------------------------------------------- */

.SignIn {
    background-color: #06ab86;
    padding: 5px;
    color: black;
    cursor: pointer;
    border-radius: 35px;
}

.SignIn:hover {
    background-color: #049b7a;
    color: #ffffffee;
    scale: 1.1;
    transition: .1s ease-in-out;
}

.SignOut {
    background-color: #cf3030d1;
    padding: 5px;
    color: rgb(249, 249, 249);
    cursor: pointer;
    border-radius: 35px;
}

.SignOut:hover {
    background-color: #8b1e1edd;
    color: #ffffff;
    scale: 1.1;
    transition: .15s ease-in-out;
}

