@media (max-width: 599px) {
  .menuLogin {
    top: 7vh;
    right: 9vw;
    width: 35vw;
  }
  .menuLogout {
    top: 7vh;
    right: 9vw;
    width: 45vw;
  }
  .loginDesplegable {
    width: 75vw;
    top: 20vh;
    right: 12.5vw;
  }
  .nombre-usuario {
    margin-left: 4px;
    margin-right: 5px;
  }
}

@media (min-width: 600px) and (max-width: 1050px) {
  .menuLogin {
    top: 6vh;
    right: 8vw;
    width: 25vw;
  }
  .menuLogout {
    top: 6vh;
    right: 8vw;
    width: 30vw;
  }
  .loginDesplegable {
    width: 50vw;
    top: 20vh;
    right: 25vw;
  }
  .nombre-usuario {
    margin-right: 8px;
  }
}

@media (min-width: 1051px) {
  .menuLogin {
    top: 7vh;
    right: 5vw;
    width: 15vw;
  }
  .menuLogout {
    top: 7vh;
    right: 5vw;
    width: 18vw;
  }
  .loginDesplegable {
    width: 35vw;
    top: 20vh;
    right: 32.5vw;
  }
  .nombre-usuario {
    margin-right: 12px;
  }
}

.cerrar_verlogin {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.iconos:hover {
  scale: 1.1;
}

.menuLogin {
  position: absolute;
  height: 13vh;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgba(59, 102, 98, 0.835);
  z-index: 999;
  border-radius: 5px 0 5px 5px;
  font-size: small;
  padding: 7px;
  line-height: 15px;
}

.menuLogout {
  position: absolute;
  height: 25vh;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgba(59, 102, 98, 0.835);
  z-index: 999;
  border-radius: 5px 0 5px 5px;
  font-size: 1rem;
  padding: 7px;
  line-height: 15px;
}

.btnIniciarSesion {
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--main-color);
  border: 1px solid rgba(37, 63, 59, 0.835);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btnCerrarSesion {
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--main-color);
  border: 1px solid rgba(37, 63, 59, 0.835);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.containerLogin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 17, 17, 0.893);
  z-index: 998;
}

.loginDesplegable {
  position: absolute;
  background-color: rgb(250, 248, 248);
  border: 1px solid rgba(59, 102, 98, 0.835);
  z-index: 999;
  border-radius: 5px;
  font-size: small;
  padding: 7px;
  line-height: 15px;
}

.cerrar {
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
  font-size: 1.4rem;
}

.loginDesplegable > h3 {
  font-size: 1.8rem;
  padding: 20px;
  border-bottom: 1px solid rgb(216, 214, 214);
}

.loginDesplegable > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.IniciarSesion {
  margin-top: 17px;
}

.CrearSesion {
  margin-top: 10px;
}

.btnAcceder {
  margin-top: 15px;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--main-color);
  border: 1px solid rgba(37, 63, 59, 0.835);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.nuevo {
  border-top: 1px solid rgb(216, 214, 214);
  margin-top: 20px;
  padding-top: 10px;
}

.crearCuenta {
  margin-top: 12px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(252, 252, 252);
  border: 1px solid black;
  color: #96690e;
  cursor: pointer;
}

.inputForm {
  display: flex;
  justify-content: center;
  padding: 3px 25px 3px 5px;
  border-radius: 5px;
  margin-top: 3px;
}

.iniciar {
  height: 48vh;
}

.crear {
  height: 63vh;
}

.menuLogout > .txtLogout {
  font-size: large;
  font-weight: 600;
  border-bottom: 1px solid #cdcdcf;
  padding: 5px 0 15px 0;
  text-align: center;
}

.menuLogout > .txtLogout:hover {
  background-color: rgb(247, 247, 247);
}

.menuLogout > p {
  text-align: left;
  border-bottom: 1px solid #cdcdcf;
  padding: 10px 0 10px 5px;
  position: relative;
}

.menuLogout > p > span {
  padding-left: 30px;
  display: flex;
  align-self: center;
}

.menuLogout > p > img {
  position: absolute;
  top: 17.5%;
  height: 65%;
  width: 22px;
}

.menuLogout > p:hover {
  background-color: #ebebeb;
}
